/**
 * BSD-style license; for more info see http://pmd.sourceforge.net/license.html
 */

public class Test {

    public static void main(String[] args) {
    }

    public void foo() {
        try {
        // EmptyCatchBlock!!
        } catch (Exception e) {

        }
    }
}
