<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="2022-09 (4.25)" sequenceNumber="1683993272">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.25.0.v20220831-1800"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.18.1300.v20220831-1800"/>
      <unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.27.0.v202207150226"/>
      <unit id="org.eclipse.pde.feature.group" version="3.14.1300.v20220831-1800"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="4.0.0.202206011610"/>
      <unit id="org.eclipse.swtbot.feature.group" version="4.0.0.202206011610"/>
      <unit id="org.eclipse.swtbot.ide.feature.group" version="4.0.0.202206011610"/>
      <unit id="org.eclipse.swtbot.generator.feature.feature.group" version="4.0.0.202206011610"/>
      <repository location="https://download.eclipse.org/releases/2022-09/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.io" version="2.8.0.v20210415-0900"/>
      <unit id="org.apache.commons.io.source" version="2.8.0.v20210415-0900"/>
      <unit id="org.apache.commons.lang" version="2.6.0.v20220406-2305"/>
      <unit id="org.apache.commons.lang.source" version="2.6.0.v20220406-2305"/>
      <unit id="org.junit" version="4.13.2.v20211018-1956"/>
      <unit id="org.junit.source" version="4.13.2.v20211018-1956"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/2022-09/"/>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>
