<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="2022-12 (4.26)" sequenceNumber="1679646190">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.26.0.v20221123-2302"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.18.1400.v20221123-1800"/>
      <unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.28.0.v202211200019"/>
      <repository location="https://download.eclipse.org/releases/2022-12/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.io" version="2.8.0.v20210415-0900"/>
      <unit id="org.apache.commons.io.source" version="2.8.0.v20210415-0900"/>
      <unit id="org.apache.commons.lang" version="2.6.0.v20220406-2305"/>
      <unit id="org.apache.commons.lang.source" version="2.6.0.v20220406-2305"/>
      <unit id="org.junit" version="4.13.2.v20211018-1956"/>
      <unit id="org.junit.source" version="4.13.2.v20211018-1956"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/2022-12/"/>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>
