<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="2024-12 (4.34)" sequenceNumber="1733594957">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.34.0.v20241120-1800"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.20.0.v20241120-1800"/>
      <unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.36.0.v202409282004"/>
      <unit id="org.eclipse.pde.feature.group" version="3.16.100.v20241120-1800"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="4.2.1.202406141605"/>
      <unit id="org.eclipse.swtbot.feature.group" version="4.2.1.202406141605"/>
      <unit id="org.eclipse.swtbot.ide.feature.group" version="4.2.1.202406141605"/>
      <unit id="org.eclipse.swtbot.generator.feature.feature.group" version="4.2.1.202406141605"/>
      <unit id="org.junit" version="4.13.2.v20240929-1000"/>
      <unit id="org.junit.source" version="4.13.2.v20240929-1000"/>
      <repository location="https://download.eclipse.org/releases/2024-12/"/>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
</target>
