<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="Kepler (4.3)">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="http://download.eclipse.org/releases/kepler/"/>
            <unit id="org.eclipse.jdt.feature.group" version="3.9.2.v20140221-1700"/>
            <unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.5.2.v201401062113-7C7OFvVF7RZHQXIlNxNyPh"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140114142710/repository/"/>
            <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
            <unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
            <unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
            <unit id="org.apache.commons.io.source" version="2.0.1.v201105210651"/>
            <unit id="org.apache.commons.lang" version="2.6.0.v201205030909"/>
            <unit id="org.apache.commons.lang.source" version="2.6.0.v201205030909"/>
            <unit id="org.junit" version="4.11.0.v201303080030"/>
            <unit id="org.junit.source" version="4.11.0.v201303080030"/>
            <unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
            <unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
        </location>
    </locations>
    <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
</target>